.smile-list {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 20px 0;
}

.smile-list.dark {
  background-color: rgb(255, 183, 116);
}

.list-title {
  text-align: center;
}
.winner-title {
  text-align: center;
}

.smile-container {
  text-align: right;
}

.smile{
  cursor: pointer;
  font-size: 28px;
  user-select: none;
}

.smiles-actions {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.winner-container {
  display: flex;
  justify-content: center;
}
