.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.header__navigation > a {
  color: #000;
  text-decoration: none;
}

.mode-light {
  background-color: antiquewhite;
}

.mode-dark {
  background-color: rgb(255, 151, 65);
}

.header__navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
}

.change-theme-button {
  position: absolute;
  right: 40px;
}